@import "_config";
$brand-main:    #3399ff!default;
$DarkGray:      #A9A9A9!default;
$Silver:        #dadada!default;
$White:         #ffffff!default;
$WhiteSmoke:    #f5f5f5!default;
$GhostWhite:    #fafafa!default;
$LightGray:     #e5e5e5!default;
$Gainsboro:     #eeeeee!default;
$Ivory:         #FFFFF0!default;
$LemonChiffon:  #FFFACD!default;
$LavenderBlush: #FFF0F5!default;
$LimeGreen:     #4e9a06!default;
$Snow:          #FFFAFA!default;
$Pink:          #FFC0CB!default;
$Crimson:       #e14049!default;
$Cornsilk:      #fff6cc!default;

$radius1:        4px!default;
$baseUnit1:      3px!default;


/*===============================
=            $Drupal            =
===============================*/

.field-prefix span {
	float: left;
}

.contextual-links-region:hover {
	outline: 1px dashed $brand-main;
}


/*========== @file modules/system/system.base.css ==========*/

/* Autocomplete. @see autocomplete.js */
/* Suggestion list */
#autocomplete {
	border: 1px solid $DarkGray;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	@include box-shadow(1px 1px 6px $Silver);

	ul {
		background: $White;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		color: #000;
		cursor: default;
		white-space: pre;
		zoom: 1; /* IE7 */

		div { margin: 0; }
	}

	// Moved from @file modules/system/system.theme.css
	.selected {
		/* Suggestion list */
		background: $brand-main;
		color: $White;
	}
}
/* Animated throbber */
html.js {
	input.throbbing { background-image: url(../images/drupal/throbber.gif); background-repeat: no-repeat; background-color: 100% -16px;  }
}

/* Collapsible fieldsets. @see collapse.js */
html.js {
	fieldset.collapsed {
		margin: 0 0 $baseUnit1 0;

		.fieldset-wrapper { display: none; }
	}
}

// Moved from @file modules/system/system.theme.css
.fieldset-legend {
	.collapsible & {
		background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
		border: 1px solid $LightGray;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: $baseUnit1 #{$baseUnit1 * 2};
		text-align: left;

		@include border-radius($radius1 $radius1 0 0);
	}

	.collapsed & { background-color: $Gainsboro; }

	& .summary {
		margin-left: 0.5em;
	}
}

.collapsible {
	position: relative;

	legend {
		margin: 0;
		padding: 0;
	}

	.fieldset-wrapper {
		border: 1px solid $Gainsboro {
			top-width: 0;
		}
		padding: #{$baseUnit1 * 2};
	}
}

/* TableDrag behavior. @see tabledrag.js */
.draggable {
	.tabledrag-handle {
		cursor: move;
		float: left;
		height: 1.7em;
		margin-left: -1em;
		overflow: hidden;
		text-decoration: none;

		&:hover { text-decoration: none; }

		& .handle {
			background: url(../images/drupal/draggable.png) no-repeat 6px 9px;
			height: 13px;
			margin: -0.4em 0.5em;
			padding: 0.42em 0.5em;
			width: 13px;
		}
	}

	.tabledrag-handle-hover .handle { background-position: 6px -11px; }

	.indentation { clear: none; }
}

div.indentation {
	float: left;
	height: 1.7em;
	margin: -0.4em 0.2em -0.4em -0.4em;
	padding: 0.42em 0 0.42em 0.6em;
	width: 20px;
}

// Moved from @file modules/system/system.theme.css
tr.drag { background-color: $Ivory; }
tr.drag-previous { background-color: $LemonChiffon; }

/*==========  ???  ==========*/


div.tree-child { background: url(../images/drupal/tree.png) no-repeat 11px center;  }
div.tree-child-last { background: url(../images/drupal/tree-bottom.png) no-repeat 11px center;  }
div.tree-child-horizontal { background: url(../images/drupal/tree.png) no-repeat -11px center; }
.tabledrag-toggle-weight-wrapper { text-align: right;  }

/* Progress behavior. @see progress.js */
/* Throbber */
.ajax-progress {
	display: inline-block;

	.throbber {
		background: transparent url(../images/drupal/throbber.gif) no-repeat 0px -18px;
		float: left;
		height: 15px;
		margin: 2px;
		width: 15px;
	}

	.message { padding-left: 20px; }

	tr & .throbber { margin: 0 2px; }
}

.ajax-progress-bar { width: 16em; }


/* Inline items. */
.container-inline {
	div, label { display: inline; }

	/* Fieldset contents always need to be rendered as block. */
	.fieldset-wrapper { display: block; }

	// Moved from @file modules/system/system.theme.css
	.form-actions, &.form-actions {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* Prevent text wrapping. */
.nowrap { white-space: nowrap; }

/* For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide { display: none; }

/* Hide elements from all users. */
.element-hidden { display: none; }

/* Hide elements visually, but keep them available for screen-readers. */
.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
	position: static !important;
	clip: auto;
}


/*========== @file modules/system/system.theme.css ==========*/

/* Markup generated by theme_tablesort_indicator(). */
th.active img { vertical-align: middle; }
td.active { background: $WhiteSmoke; }

/* Tables */
table tr {
	&.error,
	&.info, &.ok,
	&.status, &.success,
	&.warning, &.notice {
		background-image: none;
	}
}


/* Markup generated by Form API. */
label.option { display: inline; }


.form-item {
	.description {
		font-size: 0.85em;
		margin-bottom: 0;
	}

	.form-type-date & {
		clear: none;
		display: block;
		float: left;
		margin: 0 4px 0 0;
	}

	input.error,
	textarea.error,
	select.error {
		background: $Snow;
		border-color:$Pink;
		color: $Crimson;
	}

	.container-inline &:last-child { margin-right: 0; }

	td & { margin: 0; }
}

.form-type-radio,
.form-type-checkbox {
	margin: 0;

	.description { margin-left: 1.4em; }
}

.form-required { color: $Crimson; }

.marker {
	background: $Ivory;
	border: 1px solid $Cornsilk;
	color: $Crimson;
	padding: 1px #{$baseUnit1 * 2};
	@include border-radius(#{$baseUnit1 * 2});
}


/* Markup generated by theme_more_help_link(). */
.more-help-link a {
	background: url(../images/drupal/help.png) 0 50% no-repeat;
	padding: 1px 0 1px 20px;
}

/* Markup generated by theme_pager(). */
.pager {
	text-align: center;

	li { display: inline-block; }

	.pager-ellipsis {
		border-right: 1px solid $Silver;
		line-height: 210%;
		padding: 0 0.5em;
	}
}


/* TableSelect behavior. @see tableselect.js */
tr.selected td { background: $LemonChiffon; }

td, th {
	&.checkbox { text-align: center; }
}


/*========== @file modules/system/system.menus.css ==========*/

/* Markup generated by theme_menu_tree(). */
ul {
	.expanded  { list-style-type: circle; }
	.collapsed { list-style-type: disc; }
	.leaf      { list-style-type: square; }
}

td.menu-disabled { background: $Gainsboro; }

/* Markup generated by theme_links(). */
ul.inline, ul.links.inline {
	margin: 0 0 10px 0;
	list-style: none;
}

ul.inline li {
  display: inline;
  margin: 0 #{$baseUnit1 * 3};
}

/* Markup generated by theme_menu_local_tasks(). */
ul.secondary { padding: 0 #{$baseUnit1 * 3}; }


/*========== @file modules/misc/vertical.tabs.css ==========*/
div.vertical-tabs {
	border: 1px solid $Silver;
	margin: 0 0 1em 15em;
	position: relative;

	.vertical-tabs-list {
		li a { position: relative; }
		.summary { line-height: 100%; }
		#active-vertical-tab { top: 0; }
	}
}

.vertical-tabs-panes {
	clear: none;
	padding-top: 1em;
}


/*========== @file modules/comment/comment.css ==========*/
.indented { margin-left: 2em; }
.comment-preview { background-color: $LemonChiffon; }
.comment-unpublished { background-color: $LavenderBlush; }


/*========== @file modules/field_ui/field_ui.css ==========*/

/* 'Manage fields' and 'Manage display' overviews */
table.field-ui-overview {
	.add-new {
		td { white-space: nowrap; }
		.label-input {
			clear: none;
			float: left;
			margin: 0;
		}
		.tabledrag-changed { display: none; }
		.description {
			margin-bottom: 0;
			max-width: 250px;

			.form-type-machine-name & { white-space: normal; }
		}
		.add-new-placeholder { font-weight: bold; }
	}

	.region-title td { font-weight: bold; }
	.region-message td { font-style: italic; }
	.region-populated, .region-add-new-title { display: none; }
}

/* 'Manage display' overview */
#field-display-overview {
	.field-formatter-summary {
	  float: left;
	  font-size: 0.9em;
	}
	.field-formatter-summary-cell {
		line-height: 1em;

		span.warning {
		  display: block;
		  float: left;
		  margin-right: .5em;
		}
	}

	.field-formatter-settings-edit { float: right; }
	.field-formatter-settings-edit-wrapper { float: right; }
	.field-formatter-settings-edit-form .formatter-name { font-weight: bold; }

	.field-formatter-settings-editing {
		td { vertical-align: top; }
		.field-formatter-type { display: none; }
	}
}
#field-ui-display-overview-form #edit-refresh { display:none; }


/*========== @file modules/node/node.css ==========*/
.node-preview { background-color: $LemonChiffon; }
.node-unpublished { background-color: $LavenderBlush; }
.revision-current { background: $LemonChiffon;; }


/*========== @file modules/search/search.css ==========*/
#search-block-form {
	@include cf;

	> div, > p {
		clear: none;
		float: left;
	}

	input, label {
		float: left;
		margin-right: $baseUnit1;
		width: auto;
	}
}

.search-form {
	margin-bottom: 1em;

	input { width: auto; }
}
.search-results {
	list-style: none;
	margin: 0;

	.search-result { margin-bottom: 1em; }
	.search-snippet-info { padding-left: 1em; }
	.search-info { font-size: 0.85em; }
}


/*========== @file modules/user/user.css ==========*/
#permissions {
	.module { font-weight: bold; }
	.permission { padding-left: 1.5em;  }
}
#user-admin-settings .fieldset-description { font-size: 0.85em; }

/* Override default textfield float to put the "Add role" button next to the input textfield. */
#user-admin-roles {
	.form-item-name {
		float: left;
		margin-right: 1em;
	}
}

/* Password strength indicator. */
.password-strength {
	width: 17em;
	float: right;
	margin-top: 1.4em;
}
.password-strength-title { display: inline; }
.password-strength-text {
	float: right;
	font-weight: bold;
	margin: 0;
}
.password-indicator {
	background-color: $GhostWhite;
	border: 1px solid $Gainsboro;
	height: $baseUnit1;
	width: 100%;
	@include border-radius(#{$baseUnit1 * 2});

	div {
		height: 100%;
		width: 0%;
		background-color: $LimeGreen;
	}
}
input.password-confirm,
input.password-field {
	width: 16em;
	margin-bottom: 0.4em;
}
div.password-confirm {
	float: right;
	margin-top: 1.5em;
	visibility: hidden;
	width: 17em;
}
.form-item .password-suggestions {
	border: 1px solid $Gainsboro;
	margin: 0.7em 0;
	padding: 0.2em 0.5em;
	width: 41.5em;

	ul {
		margin-bottom: 0;
	}
}
.confirm-parent,
.password-parent {
	clear: left;
	margin: 0;
	width: 36.3em;
}


/*========== @file modules/file/file.css ==========*/

/* Managed file element styles. */
.form-managed-file {
	.form-file { width: auto; }
}


/*========== @file modules/filter/filter.css ==========*/
.text-format-wrapper {
	.form-item { margin: 0; }
	.description { margin-top: 0.5em; }
	.form-textarea-wrapper { margin: 0; }
}

.filter-wrapper {
	background: $GhostWhite;
	border: 1px solid $Gainsboro;
	border-top: 0;
	padding: 1em;

	div {
		clear: none;
	}

	.form-item {
		margin-bottom: 10px;

		label { display: inline-block; }

		select { width: auto; }
	}
}

.filter-help {
	float: right;

	p { margin: 0; }

	a, a:link {
		background: url(../images/drupal/help.png) right center no-repeat;
		padding: 0 20px 0 0;
	}
}

.filter-guidelines {
	clear: both;
}

#filter-order {
	tr .form-item {
		padding: 0.5em 0 0 3em;
		white-space: normal;
	}
	tr .form-type-checkbox .description { padding: 0 0 0 2.5em; }
}
#edit-filters-filter-html-settings-allowed-html { width: 100%; }

.tips { margin-bottom: 0; }


/* messages */
span {
	&.error,
	&.info,
	&.success,
	&.warning,
	&.ok {
		border: 0;
		padding: 0;
		background: transparent;
	}
}

.error,
.info, .ok,
.status, .success,
.notice, .warning {
	.messages & {
		border: 0;
		padding: 0;
		background: transparent;
	}
}

/*==========  file @ modules/image/image.css  ==========*/
.form-item {
	.image-widget {
		overflow: hidden;
		margin-bottom: 0;

		.image-preview,
		.image-widget-data {
			clear: none;
			float: left;
			margin-bottom: 0;
		}

		.image-preview {
			margin-right: 1em;
		}
	}
}


/*==========  file @ modules/openid/openid.css  ==========*/
#edit-openid-identifier {
  background: url(../images/drupal/icon-openid.png) no-repeat 4px center;
  padding-left: 24px;
}

.form-item-openid-identifier {
	display: block;

	.js & { display: none; }
}

#user-login-form,
#user-login {
	.openid-links {
		margin: 0;

		.openid-link {
			display: none;

			.js & { display: block; }
		}
		
		.user-link {
			display: none;
		}

		a, a:link {
			background: url(../images/drupal/icon-openid.png) no-repeat left center;
  			padding-left: 20px;
		}
	}
}


/*-----  End of $Drupal  ------*/
.fieldset-wrapper {
	overflow: hidden;
}
