/*===============================
=            $Drupal            =
===============================*/

.field-prefix span {
  float: left;
}

.contextual-links-region:hover {
  outline: 1px dashed #4e9a06;
}

/*========== @file modules/system/system.base.css ==========*/
/* Autocomplete. @see autocomplete.js */
/* Suggestion list */
#autocomplete {
  border: 1px solid darkgrey;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 1px 1px 6px #dadada;
  -moz-box-shadow: 1px 1px 6px #dadada;
  box-shadow: 1px 1px 6px #dadada;
}
#autocomplete ul {
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  cursor: default;
  white-space: pre;
  zoom: 1;
  /* IE7 */
}
#autocomplete li div {
  margin: 0;
}
#autocomplete .selected {
  /* Suggestion list */
  background: #4e9a06;
  color: white;
}

/* Animated throbber */
html.js input.throbbing {
  background: url(../images/drupal/throbber.gif) no-repeat 100% -16px;
}

/* Collapsible fieldsets. @see collapse.js */
html.js fieldset.collapsed {
  margin: 0 0 3px 0;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

.collapsible .fieldset-legend {
  background: whitesmoke url(../images/gradient-bg.png) repeat-x left top;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 3px 6px;
  text-align: left;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.collapsed .fieldset-legend {
  background-color: #eeeeee;
}
.fieldset-legend .summary {
  margin-left: 0.5em;
}

.collapsible {
  position: relative;
}
.collapsible legend {
  margin: 0;
  padding: 0;
}
.collapsible .fieldset-wrapper {
  border: 1px solid #eeeeee;
  border-top-width: 0;
  padding: 6px;
}

/* TableDrag behavior. @see tabledrag.js */
.draggable .tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none;
}
.draggable .tabledrag-handle:hover {
  text-decoration: none;
}
.draggable .tabledrag-handle .handle {
  background: url(../images/drupal/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  padding: 0.42em 0.5em;
  width: 13px;
}
.draggable .tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}
.draggable .indentation {
  clear: none;
}

div.indentation {
  float: left;
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  padding: 0.42em 0 0.42em 0.6em;
  width: 20px;
}

tr.drag {
  background-color: ivory;
}

tr.drag-previous {
  background-color: lemonchiffon;
}

/*==========  ???  ==========*/
div.tree-child {
  background: url(../images/drupal/tree.png) no-repeat 11px center;
}

div.tree-child-last {
  background: url(../images/drupal/tree-bottom.png) no-repeat 11px center;
}

div.tree-child-horizontal {
  background: url(../images/drupal/tree.png) no-repeat -11px center;
}

.tabledrag-toggle-weight-wrapper {
  text-align: right;
}

/* Progress behavior. @see progress.js */
/* Throbber */
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(../images/drupal/throbber.gif) no-repeat 0px -18px;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}

.ajax-progress-bar {
  width: 16em;
}

/* Inline items. */
.container-inline {
  /* Fieldset contents always need to be rendered as block. */
}
.container-inline div, .container-inline label {
  display: inline;
}
.container-inline .fieldset-wrapper {
  display: block;
}
.container-inline .form-actions, .container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/* Prevent text wrapping. */
.nowrap {
  white-space: nowrap;
}

/* For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/* Hide elements from all users. */
.element-hidden {
  display: none;
}

/* Hide elements visually, but keep them available for screen-readers. */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/*========== @file modules/system/system.theme.css ==========*/
/* Markup generated by theme_tablesort_indicator(). */
th.active img {
  vertical-align: middle;
}

td.active {
  background-color: #dadada;
}

/* Markup generated by Form API. */
label.option {
  display: inline;
}

.form-item .description {
  font-size: 0.85em;
  margin-bottom: 0;
}
.form-type-date .form-item {
  clear: none;
  display: block;
  float: left;
  margin: 0 4px 0 0;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  background: snow;
  border-color: pink;
  color: #e14049;
}
.container-inline .form-item:last-child {
  margin-right: 0;
}
td .form-item {
  margin: 0;
}

.form-type-radio,
.form-type-checkbox {
  margin: 0;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.4em;
}

.form-required {
  color: #e14049;
}

.marker {
  background: ivory;
  border: 1px solid #fff6cc;
  color: #e14049;
  padding: 1px 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* Markup generated by theme_more_help_link(). */
.more-help-link a {
  background: url(../images/drupal/help.png) 0 50% no-repeat;
  padding: 1px 0 1px 20px;
}

/* Markup generated by theme_pager(). */
.pager {
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager .pager-ellipsis {
  border-right: 1px solid #dadada;
  line-height: 210%;
  padding: 0 0.5em;
}

/* TableSelect behavior. @see tableselect.js */
tr.selected td {
  background: lemonchiffon;
}

td.checkbox, th.checkbox {
  text-align: center;
}

/*========== @file modules/system/system.menus.css ==========*/
/* Markup generated by theme_menu_tree(). */
ul .expanded {
  list-style-type: circle;
}
ul .collapsed {
  list-style-type: disc;
}
ul .leaf {
  list-style-type: square;
}

td.menu-disabled {
  background: #eeeeee;
}

/* Markup generated by theme_links(). */
ul.inline, ul.links.inline {
  margin: 0 0 10px 0;
  list-style: none;
}

ul.inline li {
  display: inline;
  margin: 0 9px;
}

/* Markup generated by theme_menu_local_tasks(). */
ul.secondary {
  padding: 0 9px;
}

/*========== @file modules/misc/vertical.tabs.css ==========*/
div.vertical-tabs {
  border: 1px solid #dadada;
  margin: 0 0 1em 15em;
  position: relative;
}
div.vertical-tabs .vertical-tabs-list li a {
  position: relative;
}
div.vertical-tabs .vertical-tabs-list .summary {
  line-height: 100%;
}
div.vertical-tabs .vertical-tabs-list #active-vertical-tab {
  top: 0;
}

.vertical-tabs-panes {
  clear: none;
  padding-top: 1em;
}

/*========== @file modules/comment/comment.css ==========*/
.indented {
  margin-left: 2em;
}

.comment-preview {
  background-color: lemonchiffon;
}

.comment-unpublished {
  background-color: lavenderblush;
}

/*========== @file modules/field_ui/field_ui.css ==========*/
/* 'Manage fields' and 'Manage display' overviews */
table.field-ui-overview .add-new td {
  white-space: nowrap;
}
table.field-ui-overview .add-new .label-input {
  clear: none;
  float: left;
  margin: 0;
}
table.field-ui-overview .add-new .tabledrag-changed {
  display: none;
}
table.field-ui-overview .add-new .description {
  margin-bottom: 0;
  max-width: 250px;
}
.form-type-machine-name table.field-ui-overview .add-new .description {
  white-space: normal;
}
table.field-ui-overview .add-new .add-new-placeholder {
  font-weight: bold;
}
table.field-ui-overview .region-title td {
  font-weight: bold;
}
table.field-ui-overview .region-message td {
  font-style: italic;
}
table.field-ui-overview .region-populated, table.field-ui-overview .region-add-new-title {
  display: none;
}

/* 'Manage display' overview */
#field-display-overview .field-formatter-summary {
  float: left;
  font-size: 0.9em;
}
#field-display-overview .field-formatter-summary-cell {
  line-height: 1em;
}
#field-display-overview .field-formatter-summary-cell span.warning {
  display: block;
  float: left;
  margin-right: .5em;
}
#field-display-overview .field-formatter-settings-edit {
  float: right;
}
#field-display-overview .field-formatter-settings-edit-wrapper {
  float: right;
}
#field-display-overview .field-formatter-settings-edit-form .formatter-name {
  font-weight: bold;
}
#field-display-overview .field-formatter-settings-editing td {
  vertical-align: top;
}
#field-display-overview .field-formatter-settings-editing .field-formatter-type {
  display: none;
}

#field-ui-display-overview-form #edit-refresh {
  display: none;
}

/*========== @file modules/node/node.css ==========*/
.node-preview {
  background-color: lemonchiffon;
}

.node-unpublished {
  background-color: lavenderblush;
}

.revision-current {
  background: lemonchiffon;
}

/*========== @file modules/search/search.css ==========*/
#search-block-form {
  *zoom: 1;
}
#search-block-form:before, #search-block-form:after {
  content: " ";
  display: table;
}
#search-block-form:after {
  clear: both;
}
#search-block-form > div, #search-block-form > p {
  clear: none;
  float: left;
}
#search-block-form input, #search-block-form label {
  float: left;
  margin-right: 3px;
  width: auto;
}

.search-form {
  margin-bottom: 1em;
}
.search-form input {
  width: auto;
}

.search-results {
  list-style: none;
  margin: 0;
}
.search-results .search-result {
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 1em;
}
.search-results .search-info {
  font-size: 0.85em;
}

/*========== @file modules/user/user.css ==========*/
#permissions .module {
  font-weight: bold;
}
#permissions .permission {
  padding-left: 1.5em;
}

#user-admin-settings .fieldset-description {
  font-size: 0.85em;
}

/* Override default textfield float to put the "Add role" button next to the input textfield. */
#user-admin-roles .form-item-name {
  float: left;
  margin-right: 1em;
}

/* Password strength indicator. */
.password-strength {
  width: 17em;
  float: right;
  margin-top: 1.4em;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  font-weight: bold;
  margin: 0;
}

.password-indicator {
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  height: 3px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #4e9a06;
}

input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}

div.password-confirm {
  float: right;
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}

.form-item .password-suggestions {
  border: 1px solid #eeeeee;
  margin: 0.7em 0;
  padding: 0.2em 0.5em;
  width: 41.5em;
}
.form-item .password-suggestions ul {
  margin-bottom: 0;
}

.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 36.3em;
}

/*========== @file modules/file/file.css ==========*/
/* Managed file element styles. */
.form-managed-file .form-file {
  width: auto;
}

/*========== @file modules/filter/filter.css ==========*/
.text-format-wrapper .form-item {
  margin: 0;
}
.text-format-wrapper .description {
  margin-top: 0.5em;
}
.text-format-wrapper .form-textarea-wrapper {
  margin: 0;
}

.filter-wrapper {
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 1em;
}
.filter-wrapper div {
  clear: none;
}
.filter-wrapper .form-item {
  margin-bottom: 10px;
}
.filter-wrapper .form-item label {
  display: inline-block;
}
.filter-wrapper .form-item select {
  width: auto;
}

.filter-help {
  float: right;
}
.filter-help p {
  margin: 0;
}
.filter-help a, .filter-help a:link {
  background: url(../images/drupal/help.png) right center no-repeat;
  padding: 0 20px 0 0;
}

.filter-guidelines {
  clear: both;
}

#filter-order tr .form-item {
  padding: 0.5em 0 0 3em;
  white-space: normal;
}
#filter-order tr .form-type-checkbox .description {
  padding: 0 0 0 2.5em;
}

#edit-filters-filter-html-settings-allowed-html {
  width: 100%;
}

.tips {
  margin-bottom: 0;
}

/* messages */
span.error, span.info, span.success, span.warning, span.ok {
  border: 0;
  padding: 0;
  background: transparent;
}

.messages .error, .messages
.info, .messages .ok, .messages
.status, .messages .success, .messages
.notice, .messages .warning {
  border: 0;
  padding: 0;
  background: transparent;
}

/* Tables */
table tr.error, table tr.info, table tr.ok, table tr.status, table tr.success, table tr.warning, table tr.notice {
  background-image: none;
}

td.active {
  background: whitesmoke;
}

/*==========  file @ modules/image/image.css  ==========*/
.form-item .image-widget {
  overflow: hidden;
  margin-bottom: 0;
}
.form-item .image-widget .image-preview,
.form-item .image-widget .image-widget-data {
  clear: none;
  float: left;
  margin-bottom: 0;
}
.form-item .image-widget .image-preview {
  margin-right: 1em;
}

/*==========  file @ modules/openid/openid.css  ==========*/
#edit-openid-identifier {
  background: url(../images/drupal/icon-openid.png) no-repeat 4px center;
  padding-left: 24px;
}

.form-item-openid-identifier {
  display: block;
}
.js .form-item-openid-identifier {
  display: none;
}

#user-login-form .openid-links,
#user-login .openid-links {
  margin: 0;
}
#user-login-form .openid-links .openid-link,
#user-login .openid-links .openid-link {
  display: none;
}
.js #user-login-form .openid-links .openid-link, .js
#user-login .openid-links .openid-link {
  display: block;
}
#user-login-form .openid-links .user-link,
#user-login .openid-links .user-link {
  display: none;
}
#user-login-form .openid-links a, #user-login-form .openid-links a:link,
#user-login .openid-links a,
#user-login .openid-links a:link {
  background: url(../images/drupal/icon-openid.png) no-repeat left center;
  padding-left: 20px;
}

/*-----  End of $Drupal  ------*/
.fieldset-wrapper {
  overflow: hidden;
}
